# -------------------------
# OS / Editor Trash Files
# -------------------------
# macOS Finder files
.DS_Store
.DS_Store?
._*

# macOS crash/metadata directories
.AppleDouble
.LSOverride



# -------------------------
# R build files
# -------------------------
man/*
NAMESPACE


# -------------------------
# Temporary files
# -------------------------
mestrado_yasmin_codigo_artigos


# -------------------------
# R Test that package
# -------------------------
R/tests/testthat/_snaps/*

# -------------------------
# R / RStudio
# -------------------------

.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rproj.user/*
.Rproj
